##  Data Wrangling

In the analysis of the telecom dataset, the objective is to conduct a comprehensive User Overview analysis. The following sub-tasks serve as guidance throughout the analysis:
    <ul>
    <li>Handling Missing Values</li>
    <li>Removing Duplicates</li>
    <li>Handling Outliers</li>
    <li>Save the  dataset database</li>
</ul>

In [3]:
# Load Libraries and Data
import pandas as pd
import numpy as np
import psycopg2
import seaborn as sb
from sqlalchemy  import create_engine,MetaData, Table

###  Load The data from Database

In [4]:
# Create connection with postgresql and read the dataset using pandas.
database_name = 'tellcom'
table_name= 'xdr_data'

connection_params = { 
                    "host": "localhost",
                     "user": "postgres",
                     "password": "postgres",
                     "port": "5432",
                     "database": database_name
                   }

engine = create_engine(f"postgresql+psycopg2://{connection_params['user']}:{connection_params['password']}@{connection_params['host']}:{connection_params['port']}/{connection_params['database']}")

# str or SQLAlchemy Selectable (select or text object)
sql_query = 'SELECT * FROM xdr_data'

df = pd.read_sql(sql_query, con= engine)

 ### Get an Overview of the Data

In [5]:
# read the xdr_data table into a Pandas DataFrame.
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [6]:
# exploring the dimension  of Data frame
df.shape

(150001, 55)

## Removing Duplicates

In [7]:
# Check duplicated in the table
sum(df.duplicated())

0

#### Surprisingly, our dataset does not contain any duplicate values!!!!

In [8]:
import pandas as pd
import sys, os

rpath = os.path.abspath('..')
if rpath not in sys.path:
    sys.path.insert(0, rpath)

from scripts.wrangling import DataWrangler

In [9]:
data_wrangler = DataWrangler(df)

In [10]:
data_wrangler.calculate_null_percentage().round(2)

12.5

**Our dataset exhibits a missing value percentage of 12.5%, which surpasses the acceptable threshold of 10%. Since I lack domain knowledge in the telecom sector, I will address the missing data using statistical methods.**

## Handling Missing Values

In [11]:
# View the info of the datasets
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      149431 non-null  float64
 7   MSISDN/Number                             148935 non-null  float64
 8   IMEI                                      149429 non-null  float64
 9   Last Location Name                        148848 non-null  object
 10  Avg RTT DL (ms)                           122172 non-null  float64
 11  Avg RTT UL (ms)                           122189 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 15  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 16  DL TP < 50 Kbps (%)                       149247 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 19  DL TP > 1 Mbps (%)                        149247 non-null  float64
 20  UL TP < 10 Kbps (%)                       149209 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 23  UL TP > 300 Kbps (%)                      149209 non-null  float64
 24  HTTP DL (Bytes)                           68527 non-null   float64
 25  HTTP UL (Bytes)                           68191 non-null   float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      149429 non-null  object
 30  Handset Type                              149429 non-null  object
 31  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 32  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 33  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 34  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 36  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 37  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 38  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 39  Social Media DL (Bytes)                   150001 non-null  float64
 40  Social Media UL (Bytes)                   150001 non-null  float64
 41  Google DL (Bytes)                         150001 non-null  float64
 42  Google UL (Bytes)                         150001 non-null  float64
 43  Email DL (Bytes)                          150001 non-null  float64
 44  Email UL (Bytes)                          150001 non-null  float64
 45  Youtube DL (Bytes)                        150001 non-null  float64
 46  Youtube UL (Bytes)                        150001 non-null  float64
 47  Netflix DL (Bytes)                        150001 non-null  float64
 48  Netflix UL (Bytes)                        150001 non-null  float64
 49  Gaming DL (Bytes)                         150001 non-null  float64
 50  Gaming UL (Bytes)                         150001 non-null  float64
 51  Other DL (Bytes)                          150001 non-null  float64
 52  Other UL (Bytes)                          150001 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [12]:
# create a new numerical data fram to handle missing vaalues
numerical_df = data_wrangler.get_numeric_columns()

In [13]:
# 
numerical_df.head()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,770.0,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,42.0,5.0,23.0,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,235.0,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,65.0,5.0,16.0,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,1.0,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,NaN,NaN,6.0,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,486.0,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,NaN,NaN,44.0,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,565.0,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,NaN,NaN,6.0,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [14]:
numerical_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 50 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 149010 non-null  float64
 1   Start ms                                  150000 non-null  float64
 2   End ms                                    150000 non-null  float64
 3   Dur. (ms)                                 150000 non-null  float64
 4   IMSI                                      149431 non-null  float64
 5   MSISDN/Number                             148935 non-null  float64
 6   IMEI                                      149429 non-null  float64
 7   Avg RTT DL (ms)                           122172 non-null  float64
 8   Avg RTT UL (ms)                           122189 non-null  float64
 9   Avg Bearer TP DL (kbps)                   150000 non-null  float64
 10  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 11  TCP DL Retrans. Vol (Bytes)               61855 non-null   float64
 12  TCP UL Retrans. Vol (Bytes)               53352 non-null   float64
 13  DL TP < 50 Kbps (%)                       149247 non-null  float64
 14  50 Kbps < DL TP < 250 Kbps (%)            149247 non-null  float64
 15  250 Kbps < DL TP < 1 Mbps (%)             149247 non-null  float64
 16  DL TP > 1 Mbps (%)                        149247 non-null  float64
 17  UL TP < 10 Kbps (%)                       149209 non-null  float64
 18  10 Kbps < UL TP < 50 Kbps (%)             149209 non-null  float64
 19  50 Kbps < UL TP < 300 Kbps (%)            149209 non-null  float64
 20  UL TP > 300 Kbps (%)                      149209 non-null  float64
 21  HTTP DL (Bytes)                           68527 non-null   float64
 22  HTTP UL (Bytes)                           68191 non-null   float64
 23  Activity Duration DL (ms)                 150000 non-null  float64
 24  Activity Duration UL (ms)                 150000 non-null  float64
 25  Dur. (ms).1                               150000 non-null  float64
 26  Nb of sec with 125000B < Vol DL           52463 non-null   float64
 27  Nb of sec with 1250B < Vol UL < 6250B     57107 non-null   float64
 28  Nb of sec with 31250B < Vol DL < 125000B  56415 non-null   float64
 29  Nb of sec with 37500B < Vol UL            19747 non-null   float64
 30  Nb of sec with 6250B < Vol DL < 31250B    61684 non-null   float64
 31  Nb of sec with 6250B < Vol UL < 37500B    38158 non-null   float64
 32  Nb of sec with Vol DL < 6250B             149246 non-null  float64
 33  Nb of sec with Vol UL < 1250B             149208 non-null  float64
 34  Social Media DL (Bytes)                   150001 non-null  float64
 35  Social Media UL (Bytes)                   150001 non-null  float64
 36  Google DL (Bytes)                         150001 non-null  float64
 37  Google UL (Bytes)                         150001 non-null  float64
 38  Email DL (Bytes)                          150001 non-null  float64
 39  Email UL (Bytes)                          150001 non-null  float64
 40  Youtube DL (Bytes)                        150001 non-null  float64
 41  Youtube UL (Bytes)                        150001 non-null  float64
 42  Netflix DL (Bytes)                        150001 non-null  float64
 43  Netflix UL (Bytes)                        150001 non-null  float64
 44  Gaming DL (Bytes)                         150001 non-null  float64
 45  Gaming UL (Bytes)                         150001 non-null  float64
 46  Other DL (Bytes)                          150001 non-null  float64
 47  Other UL (Bytes)                          150001 non-null  float64
 48  Total UL (Bytes)                          150000 non-null  float64
 49  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50)
memory usage: 57.2 MB

In [15]:
numerical_wrangler = DataWrangler(numerical_df)

In [16]:
skewnes_value = numerical_wrangler.calculate_skewness()

In [17]:
skewnes_value

Bearer Id                                     0.0
Start ms                                      0.0
End ms                                       -0.0
Dur. (ms)                                     4.0
IMSI                                         41.0
MSISDN/Number                               332.2
IMEI                                          1.1
Avg RTT DL (ms)                              62.9
Avg RTT UL (ms)                              28.5
Avg Bearer TP DL (kbps)                       2.6
Avg Bearer TP UL (kbps)                       4.5
TCP DL Retrans. Vol (Bytes)                  16.0
TCP UL Retrans. Vol (Bytes)                  84.1
DL TP < 50 Kbps (%)                          -2.3
50 Kbps < DL TP < 250 Kbps (%)                3.3
250 Kbps < DL TP < 1 Mbps (%)                 4.6
DL TP > 1 Mbps (%)                            5.4
UL TP < 10 Kbps (%)                          -9.0
10 Kbps < UL TP < 50 Kbps (%)                10.9
50 Kbps < UL TP < 300 Kbps (%)               21.9
UL TP > 300 Kbps (%)                         36.2
HTTP DL (Bytes)                              38.9
HTTP UL (Bytes)                              32.5
Activity Duration DL (ms)                     5.9
Activity Duration UL (ms)                     7.4
Dur. (ms).1                                   4.0
Nb of sec with 125000B < Vol DL               6.6
Nb of sec with 1250B < Vol UL < 6250B        22.0
Nb of sec with 31250B < Vol DL < 125000B      6.6
Nb of sec with 37500B < Vol UL               21.6
Nb of sec with 6250B < Vol DL < 31250B        6.9
Nb of sec with 6250B < Vol UL < 37500B       19.6
Nb of sec with Vol DL < 6250B                 9.0
Nb of sec with Vol UL < 1250B                 7.5
Social Media DL (Bytes)                      -0.0
Social Media UL (Bytes)                      -0.0
Google DL (Bytes)                            -0.0
Google UL (Bytes)                             0.0
Email DL (Bytes)                             -0.0
Email UL (Bytes)                              0.0
Youtube DL (Bytes)                            0.0
Youtube UL (Bytes)                           -0.0
Netflix DL (Bytes)                           -0.0
Netflix UL (Bytes)                           -0.0
Gaming DL (Bytes)                            -0.0
Gaming UL (Bytes)                            -0.0
Other DL (Bytes)                              0.0
Other UL (Bytes)                              0.0
Total UL (Bytes)                             -0.0
Total DL (Bytes)                             -0.0
dtype: float64

#### Considering the skewness value, the following observations were derived
   <ul>
    <li>If the skewness value is zero, fill the null values with the mean</li>
    <li>If the skewness value is greater than zero or less than zero, fill the null values with the median."</li>
</ul>

In [18]:
df_numerical = numerical_wrangler.repl_numeric_columns()

In [19]:
df_numerical.head()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,770.0,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,42.0,5.0,23.0,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,235.0,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,65.0,5.0,16.0,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,1.0,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,45.0,5.0,6.0,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,486.0,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,45.0,5.0,44.0,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,565.0,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,45.0,5.0,6.0,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [20]:
object_column_names = data_wrangler.get_object_columns()

In [21]:
categorical_df = data_wrangler.df[object_column_names]

In [22]:
categorical_df.head()

,Start,End,Last Location Name,Handset Manufacturer,Handset Type
0,4/4/2019 12:01,4/25/2019 14:35,9.16456699548519E+015,Samsung,Samsung Galaxy A5 Sm-A520F
1,4/9/2019 13:04,4/25/2019 8:15,L77566A,Samsung,Samsung Galaxy J5 (Sm-J530)
2,4/9/2019 17:42,4/25/2019 11:58,D42335A,Samsung,Samsung Galaxy A8 (2018)
3,4/10/2019 0:31,4/25/2019 7:36,T21824A,undefined,undefined
4,4/12/2019 20:10,4/25/2019 10:40,D88865A,Samsung,Samsung Sm-G390F

In [23]:
df_clean = pd.concat([df_numerical, categorical_df], axis=1)

In [24]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 150001 non-null  float64
 1   Start ms                                  150001 non-null  float64
 2   End ms                                    150001 non-null  float64
 3   Dur. (ms)                                 150001 non-null  float64
 4   IMSI                                      150001 non-null  float64
 5   MSISDN/Number                             150001 non-null  float64
 6   IMEI                                      150001 non-null  float64
 7   Avg RTT DL (ms)                           150001 non-null  float64
 8   Avg RTT UL (ms)                           150001 non-null  float64
 9   Avg Bearer TP DL (kbps)                   150001 non-null  float64
 10  Avg Bearer TP UL (kbps)                   150001 non-null  float64
 11  TCP DL Retrans. Vol (Bytes)               150001 non-null  float64
 12  TCP UL Retrans. Vol (Bytes)               150001 non-null  float64
 13  DL TP < 50 Kbps (%)                       150001 non-null  float64
 14  50 Kbps < DL TP < 250 Kbps (%)            150001 non-null  float64
 15  250 Kbps < DL TP < 1 Mbps (%)             150001 non-null  float64
 16  DL TP > 1 Mbps (%)                        150001 non-null  float64
 17  UL TP < 10 Kbps (%)                       150001 non-null  float64
 18  10 Kbps < UL TP < 50 Kbps (%)             150001 non-null  float64
 19  50 Kbps < UL TP < 300 Kbps (%)            150001 non-null  float64
 20  UL TP > 300 Kbps (%)                      150001 non-null  float64
 21  HTTP DL (Bytes)                           150001 non-null  float64
 22  HTTP UL (Bytes)                           150001 non-null  float64
 23  Activity Duration DL (ms)                 150001 non-null  float64
 24  Activity Duration UL (ms)                 150001 non-null  float64
 25  Dur. (ms).1                               150001 non-null  float64
 26  Nb of sec with 125000B < Vol DL           150001 non-null  float64
 27  Nb of sec with 1250B < Vol UL < 6250B     150001 non-null  float64
 28  Nb of sec with 31250B < Vol DL < 125000B  150001 non-null  float64
 29  Nb of sec with 37500B < Vol UL            150001 non-null  float64
 30  Nb of sec with 6250B < Vol DL < 31250B    150001 non-null  float64
 31  Nb of sec with 6250B < Vol UL < 37500B    150001 non-null  float64
 32  Nb of sec with Vol DL < 6250B             150001 non-null  float64
 33  Nb of sec with Vol UL < 1250B             150001 non-null  float64
 34  Social Media DL (Bytes)                   150001 non-null  float64
 35  Social Media UL (Bytes)                   150001 non-null  float64
 36  Google DL (Bytes)                         150001 non-null  float64
 37  Google UL (Bytes)                         150001 non-null  float64
 38  Email DL (Bytes)                          150001 non-null  float64
 39  Email UL (Bytes)                          150001 non-null  float64
 40  Youtube DL (Bytes)                        150001 non-null  float64
 41  Youtube UL (Bytes)                        150001 non-null  float64
 42  Netflix DL (Bytes)                        150001 non-null  float64
 43  Netflix UL (Bytes)                        150001 non-null  float64
 44  Gaming DL (Bytes)                         150001 non-null  float64
 45  Gaming UL (Bytes)                         150001 non-null  float64
 46  Other DL (Bytes)                          150001 non-null  float64
 47  Other UL (Bytes)                          150001 non-null  float64
 48  Total UL (Bytes)                          150001 non-null  float64
 49  Total DL (Bytes)                          150001 non-null  float64
 50  Start                                     150000 non-null  object
 51  End                                       150000 non-null  object
 52  Last Location Name                        148848 non-null  object
 53  Handset Manufacturer                      149429 non-null  object
 54  Handset Type                              149429 non-null  object
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [25]:
df_clean.dropna(inplace=True)

In [26]:
df_clean.shape

(148837, 55)

In [27]:
df_clean.head()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes),Start,End,Last Location Name,Handset Manufacturer,Handset Type
0,1.311448e+19,770.0,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,42.0,5.0,23.0,...,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0,4/4/2019 12:01,4/25/2019 14:35,9.16456699548519E+015,Samsung,Samsung Galaxy A5 Sm-A520F
1,1.311448e+19,235.0,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,65.0,5.0,16.0,...,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0,4/9/2019 13:04,4/25/2019 8:15,L77566A,Samsung,Samsung Galaxy J5 (Sm-J530)
2,1.311448e+19,1.0,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,45.0,5.0,6.0,...,395630.0,410692588.0,4215763.0,27883638.0,279807335.0,4/9/2019 17:42,4/25/2019 11:58,D42335A,Samsung,Samsung Galaxy A8 (2018)
3,1.311448e+19,486.0,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,45.0,5.0,44.0,...,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0,4/10/2019 0:31,4/25/2019 7:36,T21824A,undefined,undefined
4,1.311448e+19,565.0,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,45.0,5.0,6.0,...,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0,4/12/2019 20:10,4/25/2019 10:40,D88865A,Samsung,Samsung Sm-G390F

In [35]:
df_clean.to_csv('../data/clean_data.csv',index=False)

# Use this command if you are running this file in local
!jupyter nbconvert <Part_II_Filename>.ipynb --to slides --post serve --no-input --no-prompt